*.class
.DS_Store
.metadata/*
fajita/result/tacoOutput/*
taco/bin/ar/edu/taco/engine/*
taco/bin/.gitignore
alloycli/bin/.gitignore
dynalloy4/bin/.gitignore
fajita/bin/.gitignore	
JDynAlloy/bin/.gitignore
.gitignore.swp
fajita/result/unroll_*/
fajita/result/*
